<header class="header">
    <div class="wrapper">
        <a href="/"><div class="logo"></div></a>
        <div class="catalog-btn-wrap">
            <div class="catalog-btn"></div>
        </div>
        <div class="catalog-wrap">
            <nav class="catalog-nav">
                <ul class="catalog-menu">
                    <li><div class="catalog-m-item">Test</div></li>
                    <li><div class="catalog-m-item">Test</div></li>
                    <li><div class="catalog-m-item">Test</div></li>
                </ul>
            </nav>
        </div>
        <div class="burg-wrap">
            <div class="burg-menu"></div>
        </div>
        <div class="wrap-menu">
            <nav class="nav">
                <ul class="menu">
                    {{#if isHome}}
                        <li class="active"><a href="/">Главная</a></li>
                    {{else}}
                        <li><a href="/">Главная</a></li>
                    {{/if}}

                    {{#if isDelpay}}
                        <li class="active"><a href="/delpay">Доставка и оплата</a></li>
                    {{else}}
                        <li><a href="/delpay">Доставка и оплата</a></li>
                    {{/if}}

                    {{#if isProdreturn}}
                        <li class="active"><a href="/prodreturn">Возврат товара</a></li>
                    {{else}}
                        <li><a href="/prodreturn">Возврат товара</a></li>
                    {{/if}}

                    {{#if isContacts}}
                        <li class="active"><a href="/contacts">Контакты</a></li>
                    {{else}}
                        <li><a href="/contacts">Контакты</a></li>
                    {{/if}}

                    {{#if isHelp}}
                        <li class="active"><a href="/help">Помощь</a></li>
                    {{else}}
                        <li><a href="/help">Помощь</a></li>
                    {{/if}}

                </ul>
            </nav>
        </div>
        <script src="/public/nav.js"></script>
        <script src="/public/cat-nav.js"></script>
    </div>
</header>