<header class="header">
    <div class="wrap-f-menu">
        <span class="deliv-span">Способы получения</span>
        <span>Заказ по телефону: +7 (978) 900 90 90 | +7 (978) 090 90 90</span>
        <span>Принимаем заказы - с 9:00 до 22:00</span>
    </div>
    <div class="wrapper">
        <a href="/"><div class="logo"></div></a>
        <div class="catalog-btn-wrap">
            <div class="catalog-btn">Каталог</div>
        </div>
        <div class="catalog-wrap">
            <nav class="catalog-nav">
                <ul class="catalog-menu">
                    <li><div class="catalog-m-item">Test</div></li>
                    <li><div class="catalog-m-item">Test</div></li>
                    <li><div class="catalog-m-item">Test</div></li>
                </ul>
            </nav>
        </div>
        <div class="burg-wrap">
            <div class="burg-menu"></div>
        </div>
        <div class="wrap-menu">
            <nav class="nav">
                <ul class="menu">
                    {{#if isHome}}
                        <li class="active"><a href="/">Главная</a></li>
                    {{else}}
                        <li><a href="/">Главная</a></li>
                    {{/if}}

                    {{#if isDelpay}}
                        <li class="active"><a href="/delpay">Доставка и оплата</a></li>
                    {{else}}
                        <li><a href="/delpay">Доставка и оплата</a></li>
                    {{/if}}

                    {{#if isProdreturn}}
                        <li class="active"><a href="/prodreturn">Возврат товара</a></li>
                    {{else}}
                        <li><a href="/prodreturn">Возврат товара</a></li>
                    {{/if}}

                    {{#if isContacts}}
                        <li class="active"><a href="/contacts">Контакты</a></li>
                    {{else}}
                        <li><a href="/contacts">Контакты</a></li>
                    {{/if}}

                    {{#if isHelp}}
                        <li class="active"><a href="/help">Помощь</a></li>
                    {{else}}
                        <li><a href="/help">Помощь</a></li>
                    {{/if}}
                    <li><a href="/cart"><div class="cart-img"></div></a></li>
                    <li><a href="/account"><div class="acc-img"></div></a></li>

                </ul>
            </nav>
        </div>
        <script src="/public/nav.js"></script>
        <script src="/public/cat-nav.js"></script>
    </div>
</header>